# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3

# Environment
.env

# Logs
*.log

# Static build
staticfiles/

# Media
media/

# Pytest
.pytest_cache/

# Migrations cache
**/__pycache__/